@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/optician-sans');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    background: #02624f;
    height: 45px;
    // font-size: medium;
    width: 100%;
    color: #e6e6e6;

}

// label.logo {
//     color: white;
//     font-size: 30px;
//     line-height: 80px;
//     padding: 0 100px;
//     font-weight: bold;
//     margin-top: -20px;
// }

// nav ul {
//     margin-top: -20px;
//     float: right;
//     font-size: small;
//     margin-right: 460px;
// }

// nav ul li {
//     display: inline-block;
//     line-height: 80px;
//     margin: 0 5px;
// }

// nav ul li a {
//     color: white;
//     font-size: 17px;
//     padding: 7px 13px;
//     border-radius: 3px;
//     text-transform: uppercase;
//     text-decoration: none;
// }

// a.active, a:hover {
//     background: #1b9bff;
//     text-decoration: none;
//     transition: 0.5s;
// }

// .checkbtn {
//     font-size: 30px;
//     color: white;
//     float: right;
//     line-height: 80px;
//     margin-right: 40px;
//     cursor: pointer;
//     display: none;
// }

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
        position: absolute;
        z-index: 999;
        height: 200vh;
    }

    .dropdown-toggle {
        font-size: 21px;
        justify-content: center;
    }

    .profiles .dropdown-menu {
        width: 0;
        margin: 0;
        height: 20%;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
        position: absolute;
        z-index: 999;
        height: 200vh;
    }

    .dropdown-toggle {
        font-size: 21px;
        justify-content: center;
    }

    .profiles .dropdown-menu {
        width: 0;
        margin: 0;
        height: 20%;
    }
}

.social {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.searchform {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 40px;
}

@media (min-width: 992px) {
    .searchform {
        width: 300px;
    }
}

.searchform .form-control {
    width: calc(100% - 50px);
    border: none;
    background: #fff !important;
    color: rgba(0, 0, 0, 0.7) !important;
    font-size: 14px;
}

.searchform .form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7) !important;
}

.searchform .form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.7) !important;
}

.searchform .form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.7) !important;
}

.searchform .form-control:-moz-placeholder {
    color: rgba(0, 0, 0, 0.7) !important;
}

.searchform .search {
    width: 50px;
    height: 50px;
    background: #ff0000 !important;
}

.searchform .search span {
    font-size: 16px;
    color: #fff;
}

.form-control {
    height: 50px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 14px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control:focus, .form-control:active {
    border-color: #000000;
}

.nav-item .dropdown-menu {
    margin-left: -75px;
}

.social-media {
    display: inline-block;
}

.social-media a {
    text-decoration: none;
}

@media (max-width: 991.98px) {
    .social-media {
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    .social-media {
        margin-bottom: 20px;
    }
}

.social-media p a {
    border: 1px solid #e6e6e6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 4px;
}

.social-media p a span {
    color: #4d4d4d;
}

.social-media p a:hover {
    background: #ff0000;
    border-color: #ff0000;
}

.social-media p a:hover span {
    color: #fff;
}

/* Carousel */
#slider {
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    height: 74vh;
    overflow: hidden;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}

.slide {
    width: 100%;
    display: none;
    animation-name: fade;
    animation-duration: 1s;
}

.slide img {
    width: 100%;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    padding: 15px 10px;
    border-radius: 5px;
}

.controls:hover {
    background: white;
    transition: 0.3s;
}

.controls:active {
    color: grey;
}

#left-arrow {
    left: 10px;
}

#right-arrow {
    right: 10px;
}

#dots-con {
    text-align: center;
    height: 0;
}

.dot {
    display: inline-block;
    background: grey;
    padding: 8px;
    border-radius: 50%;
    margin: 10px 5px;
}

.active {
    background: rgb(7, 67, 213);
}

@media (max-width: 1024px) {
    #slider {
        height: 41vh;
    }
}

@media (max-width: 768px) {
    #slider {
        height: 64vh;
    }
}

@media (max-width: 576px) {
    #slider {
        width: 100%;
        height: 35vh;
    }
}

@media (max-width: 426px) {
    #slider {
        height: 25vh;
    }
}

.controls {
    font-size: 1em;
}

#dots-con {
    display: none;
}

.card {
    padding: 1.5em 0.5em 0.5em;
    text-align: center;
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 18rem;
}

.card .card-img-top {
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card .card-title {
    font-weight: bold;
    font-size: 1.5em;
}

.card .btn-primary {
    border-radius: 2em;
    padding: 0.5em 1.5em;
}




.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}
.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}
.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ftco-footer-social li a:hover {
  color: #fff;
}

.form-control {
  height: 52px;
  background: #fff;
  color: #000000;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control:focus,
.form-control:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  height: inherit !important;
}

.block-21 .img {
  display: block;
  height: 80px;
  width: 80px;
}

.block-21 .text {
  width: calc(100% - 100px);
}
.block-21 .text .heading {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}
.block-21 .text .heading a {
  color: #000000;
}
.block-21 .text .heading a:hover,
.block-21 .text .heading a:active,
.block-21 .text .heading a:focus {
  text-decoration: none;
}
.block-21 .text .meta > div {
  display: inline-block;
  font-size: 12px;
  margin-right: 5px;
}
.block-21 .text .meta > div a {
  color: gray;
}

.block-23 ul {
  padding: 0;
}
.block-23 ul li,
.block-23 ul li > a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}
.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}
.block-23 ul li .icon {
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
}

.block-24 a.img {
  width: 100%;
  height: 100px;
  display: block;
}

.ftco-section {
  padding: 12em 0;
}
.ftco-section h2 {
  margin-bottom: 0;
}



// footer {
//     padding: 7em 0;
//   }
  
  .footer-09 {
    background: #fff;
    // background: -moz-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    // background: -webkit-gradient(
    //   left bottom,
    //   right top,
    //   color-stop(0%, #2a1a5e),
    //   color-stop(100%, #5126a7)
    // );
    // background: -webkit-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    // background: -o-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    // background: -ms-linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    // background: linear-gradient(45deg, #2a1a5e 0%, #5126a7 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a1a5e', endColorstr='#5126a7', GradientType=1 );
  }
  .footer-09 .border-top {
    border-color: rgba(255, 255, 255, 0.1) !important;
    background-color: #02624f;
    color: #e6e6e6;
  }
  .footer-09 a {
    font-family: 'Optician Sans', sans-serif;
    color: #000000;
  }
  .footer-09 a:hover {
    
    color: rgba(255, 255, 255, 0.9);
  }
  .footer-09 p {
    color: #000000;
    font-family: 'Optician Sans', sans-serif;
  }
  .footer-09 .footer-heading {
    color:#000000;
    font-size: 22px;
    margin-bottom: 30px;
  }
  .footer-09 .footer-heading .icon {
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    height: 40px;
    display: block;
    color: #000000;
    border: 1px solid #02624f;
  }
  .footer-09 ul.list-unstyled li a {
    color: #000000;
  }
  .footer-09 .block-21 .heading a {
    color: #000000;
  }
  .footer-09 .block-21 .meta div a {
    color: #000000;
  }
  .footer-09 .block-23 ul li {
    color: #000000;
  }
  .footer-09 .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
  }
  .footer-09 .subscribe-form .form-group input {
    background: rgba(0, 0, 0, 0.05) !important;
    border: 2px solid #02624f !important;
    outline: none !important;
    color:#000000;
    // color: #000000 !important;
    font-size: 16px;
    border-radius: 0;
  }
  .footer-09 .subscribe-form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #000000 !important;
  }
  .footer-09 .subscribe-form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: #000000 !important;
  }
  .footer-09 .subscribe-form .form-group input:-ms-input-placeholder {
    /* IE 10+ */
    color: #000000 !important;
  }
  .footer-09 .subscribe-form .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: #000000 !important;
  }
  .footer-09 .subscribe-form .form-group input:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .footer-09 .subscribe-form .form-group .submit {
    color: #fff !important;
    display: block;
    width: 52px;
    height: 52px;
    font-size: 16px;
    background: #02624f !important;
    border: none;
    border-radius: 0;
  }
  .footer-09 .subscribe-form .form-group .submit:hover,
  .footer-09 .subscribe-form .form-group .submit:focus {
    text-decoration: none !important;
    outline: none !important;
  }
  .footer-09 .footer-content{
    padding: 7em 0;
  }