* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:monospace;
    overflow-x: hidden;
}

/* Navbar */
.navbar {
    background-color: #02624f;
    font-size: 18px;
    font-family:monospace;
}

.navbar.navbar-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}


.navbar .navbar-nav .nav-item a {
    color: #fff;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
}
.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9);
}
.navbar-dark .navbar-brand {
    color: #fff;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #fff;
}
.navbar-brand {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
}
.navbar-brand span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
}
.navbar-brand:hover,
.navbar-brand:focus {
    color: #000;
}



.social{
    margin-top: 6.5rem;
}

.searchform {
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 40px;
}
@media (min-width: 992px) {
    .searchform {
        width: 300px;
    }
}
.searchform .form-control {
    width: calc(100% - 50px);
    border: none;
    background: #fff !important;
    color: rgba(0, 0, 0, 0.7) !important;
    font-size: 14px;
}
.searchform .form-control::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .form-control::-moz-placeholder {
    color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .form-control:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .form-control:-moz-placeholder {
    color: rgba(0, 0, 0, 0.7) !important;
}
.searchform .search {
    width: 50px;
    height: 50px;
    background: #ff0000 !important;
}
.searchform .search span {
    font-size: 16px;
    color: #fff;
}

.form-control {
    height: 50px !important;
    background: #fff !important;
    color: #000 !important;
    font-size: 14px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-control:focus,
.form-control:active {
    border-color: #000;
}

.nav-item .dropdown-menu {
    margin-left: -67px;
}

.social-media {
    display: inline-block;
}
.social-media a {
    text-decoration: none;
}
@media (max-width: 991.98px) {
    .social-media {
        margin: 0 auto;
    }
}
@media (max-width: 767.98px) {
    .social-media {
        margin-bottom: 20px;
    }
}
.social-media p a {
    border: 1px solid #e6e6e6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 4px;
}
.social-media p a span {
    color: #4d4d4d;
}
.social-media p a:hover {
    background: #ff0000;
    border-color: #ff0000;
}
.social-media p a:hover span {
    color: #fff;
}

/* Carousel */

// .carousel-inner .carousel-item .carousel-caption p{
//     font-size: 48px;
// }

#slider{
    // width:80%;
    margin:0px auto;
    margin-top: 10px;
    // max-width: 600px;
    position:relative;
    height: 74vh;
    overflow:hidden;
    // border: 10px solid white;
    box-shadow:2px 5px 10px rgba(0,0,0,0.4);;
    }
    
    .slide{
    width:100%;
    
    display:none;
    animation-name:fade;
    animation-duration:1s;
    
    }
 .slide  img{
    width:100%;
    }
    @keyframes fade{
    from{opacity:0.5;}
    to{opacity:1;}
    }
    
    .controls{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:1.5em;
    padding:15px 10px;
    border-radius:5px;
    
    }
    
    .controls:hover{
    background:white;
    transition:0.3s;
    }
    
    .controls:active{
    color:grey;
    }
    
    #left-arrow{
    left:10px;
    }
    
    #right-arrow{
    right:10px;
    }
    
    #dots-con{
    
    text-align:center;
    height: 0;
    }
    .dot{
    display:inline-block;
    background:grey;
    padding:8px;
    border-radius:50%;
    margin:10px 5px;
    }
    
    .active{
    background:rgb(7, 67, 213);
    }
    
    @media (max-width:768px){
    #slider{
        height: 64vh;

    }}
    @media (max-width:576px){
    #slider{width:100%;
        height: 35vh;

    } 
      @media (max-width:426px){
    #slider{
        height: 25vh;

    } }
    
    .controls{
      font-size:1em;
    }
    
    #dots-con{
      display:none;
    }
    }
// .carousel-inner .carousel-item::before {
//     content: "";
//     display: block;
//     width: 100%;
//     height: 100%;
//     background: rgba(0, 0, 0, 0.4);
//     position: absolute;
//     left: 0;
//     top: 0;
// }

// .carousel .carousel-control-prev-icon,
// .carousel .carousel-control-next-icon {
//     border-radius: 50px;
//     padding: 23px;
    
// }

/* Content Section */
// .content-section {
//     margin-top: 50px;
//     overflow: hidden; /* Prevent content overflow */
// }
// .content-section .content-1 h4 {
//     background-color: #fff;
//     text-align: center;
//     font-size: 1.3vw;
//     font-family:monospace;
//     color: #02624f;
// }
// .content-section .content-1 p {
//     font-size: 3vw;
//     font-weight: bolder;
//     font-family:monospace;
//     text-align: center;
// }
// .content-section .content-1 .content-img img {
//     max-width: 100%;
//     height: auto;
// }
// .content-section .auth-td {
//     margin-top: 35px;
//     text-align: center;
// }
// .content-section .auth-td .date-time span {
//     color: #000;
//     font-weight: 600;
//     font-family:monospace;
// }
// .content-section .auth-td .date-time {
//     margin-bottom: 30px;
// }
// .content-section .auth-td p {
//     font-family:monospace;
//     border: 1px solid #000;
//     padding: 0 10px;
//     margin: 0 10px;
//     text-align: center;
//     font-size: 1.2vw;
// }
// .content-section .auth-td .continue-reading .btn {
//     color: #02624f;
//     display: inline-block;
//     overflow: hidden;
//     position: relative;
// }
// .content-section .auth-td .continue-reading .btn::before,
// .content-section .auth-td .continue-reading .btn::after {
//     content: "";
//     position: absolute;
//     width: 100%;
//     left: 0;
// }
// .content-section .auth-td .continue-reading .btn::before {
//     background-color: #02624f;
//     height: 2px;
//     bottom: 0;
//     transform-origin: 100% 50%;
//     transform: scaleX(0);
//     transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
// }
// .content-section .auth-td .continue-reading .btn::after {
//     content: attr(data-replace);
//     height: 100%;
//     top: 0;
//     transform-origin: 100% 50%;
//     transform: translate3d(200%, 0, 0);
//     transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
//     color: #02624f;
// }
// .content-section .auth-td .continue-reading .btn:hover::before {
//     transform-origin: 0% 50%;
//     transform: scaleX(1);
// }
// .content-section .auth-td .continue-reading .btn:hover::after {
//     transform: translate3d(0, 0, 0);
// }

// /* Content Section Col-4 */
// .content-section .cards {
//     text-align: center;
//     padding: 10px;
// }
// .content-section .cards h4 {
//     text-align: center;
//     font-size: 1.3vw;
//     font-family:monospace;
// }
// .content-section .card p {
//     font-size: 1vw;
//     font-weight: bolder;
//     font-family:monospace;
//     text-align: center;
// }
// .content-section .cards .card-body {
//     text-align: center;
// }
// .content-section .cards .cards-body .card-link {
//     color: #02624f;
// }
// @media (max-width: 1024px) {
//     .content-section .content-1 .content-img img {
//         max-width: 100%;
//     }
//     .content-section .cards {
//         text-align: center;
//         padding: 10px;
//     }
//     .content-section .cards h4 {
//         text-align: center;
//         font-size: 1.3vw;
//         font-family:monospace;
//     }
//     .content-section .card p {
//         font-size: 1vw;
//         font-weight: bolder;
//         font-family:monospace;
//         text-align: center;
//     }
// }
// @media (max-width: 768px) {
//     .content-section .content-1 h4 {
//         text-align: center;
//         font-size: 1.3vw;
//         padding-left: 20px;
//     }
//     .content-section .content-1 p {
//         text-align: center;
//         font-size: 1.3vw;
//     }
//     .content-section .content-1 .content-img {
//         padding-left: 10px;
//     }
//     .content-section .content-1 .content-img img {
//         max-width: 100%;
//     }
//     .content-section .cards {
//         padding-left: 10px;
//     }
//     .content-section .cards h4 {
//         text-align: center;
//         font-size: 1.3vw;
//     }
//     .content-section .card p {
//         font-size: 1vw;
//         font-weight: bolder;
//         text-align: center;
//     }
// }
// @media (max-width: 576px) {
//     .content-section .content-1 h4 {
//         font-size: 3vw;
//     }
//     .content-section .content-1 p {
//         font-size: 3vw;
//     }
//     .content-section .content-1 .content-img {
//         padding-left: 10px;
//     }
//     .content-section .content-1 .content-img img {
//         max-width: 100%;
//     }
//     .content-section .cards {
//         padding-left: 10px;
//     }
//     .content-section .cards h4 {
//         font-size: 3vw;
//     }
//     .content-section .card p {
//         font-size: 3vw;
//     }
// }
// @media (max-width: 325px) {
//     .content-section .cards {
//         padding-left: 20px;
//     }
// }



.card {
  padding: 1.5em 0.5em 0.5em;
  text-align: center;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 18rem;
}
.card .card-img-top {
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .card  .card-title {
    font-weight: bold;
    font-size: 1.5em;
  }
  .card  .btn-primary {
    border-radius: 2em;
    padding: 0.5em 1.5em;
  }
  

/* Footer */
/* Add your footer styles here */
@media (max-width: 768px) {
    .blog-aside .card {
      width: 44rem;
    }
  }
  
  @media (max-width: 426px) {
    .blog-aside .card {
      width: 25rem;
    }
  }
    @media (max-width: 375px) {
    .blog-aside .card {
      width: 22rem;
    }
  } 
  @media (max-width: 325px) {
    .blog-aside .card {
      width: 18.5rem;
    }
  }